* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box; 
}

body {
    display: flex;
    min-height: 100vh;
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
}

.left {
    width: 45%; 
    background-image: url(./Images/hero-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white; 
}

.left-container{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 100%;
height: 80%;

}

.hero-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: black;
    opacity: 0.6;
    gap: 32px;
    padding: 10px 0;
}

.hero-container img{
    height: 7rem;
}

.hero-container h1{
    font-size: 6rem;
    font-family: skranji, sans-serif;
}

.img-credit {
    position: absolute; 
    bottom: 20px; 
    width: 100%;
    text-align: center; 
    opacity: 0.8; 
}

.img-credit a{
    color: white;
}


ul {
    list-style-type: none;
}

.right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 55%;
    padding: 40px;
    background-color: rgba(233, 233, 233, 0.30);
}

.right-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 60%;
}

.header-text {
    display: flex;
    flex-direction: column;
    justify-content: center;  
    align-items: center;      
    gap: 16px;                
    font-size: 1.2rem;
    width: 80%;
    margin: 0 40px;          
    height: 100%;            
}


.separate-text {
    margin-top: 20px;
    text-align: left; 
    width: 100%;   
} 


.form-container {
    width: 100vw;
    background-color: white;
    padding: 40px;
    margin-left: -40px; 
    margin-right: -40px;
    box-shadow: 2px 5px 10px #e5e7eb;
}

.form-container p{
    margin: 10px 0;
    font-size: 1.2rem;
    font-weight: 600;
}

form{
    display: inline-block; 
    width: 45%;
}

li{
    width: 48%;
    display: inline-block;
    margin-bottom: 20px;
    vertical-align: top;
}

label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    color: #333;
}

input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

button {
    color: white; 
    background-color: #596d48;
    border-radius: 8px;
    border-style: none;
    padding: 12px 20px; 
    width: 180px;      
    font-weight: 900;
    margin-bottom: 20px;
}


.cta-container{
    margin: 40px;
   
}

.cta-container a{
    color: #596d48;
    font-weight: 600;
    text-decoration: none;

}